body {
  font-family: "Times New Roman", Times, serif;
}

.commands {
  margin-bottom: 10px;
}

canvas {
  border: 1px solid black;
  display: block;
  margin-top: 20px;
}

button {
  margin-top: 15px;
  margin-right: 10px;
}

.clear {
  margin-left: 30px;
}

#submit_delete_id {
  background-color: red;
  color: whitesmoke;
  border-radius: 10%;
}

#input_shape_id {
  border-radius: 10%;
}

#submit_modify_id {
  background-color: olivedrab;
  color: whitesmoke;
  display: inline-flex;
  border-radius: 10%;
}
